* {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	line-height: 28px;
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: black;
}
html {
 width: 100%;
 height: 100%;
 overflow-x: hidden;
}

.logo {
	width: 300px;
	padding: 1rem;
}
.contact__button>h2:nth-child(1)>a:nth-child(1) {
	color: #1C5195;
}
.header {
	height: -moz-fit-content;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.contact__button {
	margin-left: auto;
	margin-right: 20px;
	position: relative;
	top: 16px;
	color: #1C5195;
}
.contact__button > a:nth-child(1) > h2:nth-child(1) {
 color: #1C5195;
}

.main__block {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
}
.block__one {
	height: 100%;
	background-color: #e1e1e1;
	display: flex;
	flex-wrap: wrap;
}
.main_copy {
	padding: 2.5rem;
}
.block__one>div:nth-child(1)>h1:nth-child(1) {
	margin-bottom: 20px;
}
div.item:nth-child(2) {
	background: linear-gradient(355deg, #1C5195 30%, rgba(0, 0, 0, 0) 30%), url('image-2.jpg');
	background-size: cover;
}
div.item:nth-child(3) {
	background: linear-gradient(355deg, #1C5195 30%, rgba(0, 0, 0, 0) 30%), url('image-3.jpg');
	background-size: cover;
}
div.item:nth-child(4) {
	background: linear-gradient(355deg, #1C5195 30%, rgba(0, 0, 0, 0) 30%), url('image-4.jpg');
	background-size: cover;
}
.block__two {
	height: 100%;
	background: white;
}
.block__title {
	position: relative;
	top: 30px;
	left: 37px;
}
.leistungen {
	display: flex;
	width: 100%;
	height: 100%;
	flex-wrap: wrap;
	margin-top: 50px;
	margin-bottom: 50px;
	justify-content: space-evenly;
}
.item {
	padding: 7rem;
	margin: 1rem;
	background-color: #e1e1e1;
	background: linear-gradient(355deg, #1C5195 30%, rgba(0, 0, 0, 0) 30%), url('image-1.jpg');
	color: white;
	background-size: cover;
	width: 420px;
	height: 250px;
}
.item h2 {
	font-size: 35px;
	position: relative;
	top: 91px;
	left: 88px;
	text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
	width: 290px;
}

div.item:nth-child(4) > h2:nth-child(1) {
 left: 30px;
}


.hidden_content {
	display: none;
	width: 300px;
	font-size: 16px;
}

.item:hover {
	background: #1C5195 !important;
	padding: 4rem;
	width: 420px;
}

.item:hover .hidden_content {
	display: inline-block;
}

div.item:hover > h2 {
 display: none;
}


.block__three {
	height: auto;
	text-align: -moz-right;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: #e1e1e1;
	padding: 1rem;
}
.map {
	position: relative;
	margin: auto;
	border: 7px solid white;
	border-radius: 7px;
}
.contact__box {
	text-align: left;
	padding: 2rem;
	width: 540px;
	background-color: white;
	border-radius: 8px;
	margin: auto;
}
.footer {
	text-align: right;
	padding: 1rem;
	width: 100%;
}
.footer>p:nth-child(1) {
	font-size: 11px;
}

.contact__box > form:nth-child(5) > input:nth-child(8) {
 background-color: #1C5195;
 color: white;
}
.contact__box > form:nth-child(5) > input:nth-child(8) {
 border: none;
 padding: 0.2rem;
}


@media (max-width: 981px) {
	.contact__button{
	display: none;
}
.logo {
	width: 90%;
	margin: auto;
}
.contact__box {
 margin-bottom: 30px;
}
.map > iframe:nth-child(1) {
  width: auto;
}
div.item:nth-child(4) > h2:nth-child(1) {
 line-height: 34px;
}
}

