* {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	line-height: 28px;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	font-smooth: auto;
}
a {
	text-decoration: none;
	color: black;
}
html {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	scroll-behavior: smooth;
}
.logo {
	width: 300px;
	padding: 1rem;
}
.contact__button>h2:nth-child(1)>a:nth-child(1) {
	color: #1C5195;
}
.header {
	height: -moz-fit-content;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.contact__button {
	margin-left: auto;
	margin-right: 20px;
	position: relative;
	top: 16px;
	color: #1C5195;
	animation: tilt-in-fwd-tr 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: heartbeat 1.5s ease-in-out infinite both;
}
.contact__button>a:nth-child(1)>h2:nth-child(1) {
	color: #1C5195;
}
.main__block {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
}
.block__one {
	height: 100%;
	background-color: #e1e1e1;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
}
.main_copy {
	padding: 2.5rem;
	width: 62%;
	margin: auto;
	margin-left: 0px;
}
.block__one>div:nth-child(1)>h1:nth-child(1) {
	margin-bottom: 20px;
	line-height: 33px;
}
div.item:nth-child(2) {
	background: linear-gradient(355deg, #1C5195 30%, rgba(0, 0, 0, 0) 31%), url('image-2.jpg');
	background-size: cover;
}
div.item:nth-child(3) {
	background: linear-gradient(355deg, #1C5195 30%, rgba(0, 0, 0, 0) 31%), url('image-3.jpg');
	background-size: cover;
}
div.item:nth-child(4) {
	background: linear-gradient(355deg, #1C5195 30%, rgba(0, 0, 0, 0) 31%), url('image-4.jpg');
	background-size: cover;
}
.block__two {
	height: 100%;
	background: white;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
.block__two > h1:nth-child(1) {
 margin-top: 35px;
 text-align: -moz-left;
 margin-left: 41px;
}

.block__title {
	position: relative;
	top: 30px;
	left: 37px;
}
.leistungen {
	display: flex;
	width: 100%;
	height: 100%;
	flex-wrap: wrap;
	margin-top: 26px;
	margin-bottom: 50px;
	justify-content: space-evenly;
}
.item {
	padding: 7rem;
	margin: 1rem;
	background-color: #e1e1e1;
	background: linear-gradient(355deg, #1C5195 30%, rgba(0, 0, 0, 0) 31%), url('image-1.jpg');
	color: white;
	background-size: cover;
	width: 420px;
	height: 250px;
	-moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
	-webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
	box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}
.item h2 {
	font-size: 35px;
	position: relative;
	top: 91px;
	left: 0;
	text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
	width: 290px;
	text-align: -moz-right;
	text-align: -webkit-right;
}
.hidden_content {
	display: none;
	width: 300px;
	font-size: 16px;
}
.item:hover {
	background: #1C5195 !important;
	padding: 4rem;
	width: 420px;
}
.item:hover .hidden_content {
	display: inline-block;
}
div.item:hover>h2 {
	display: none;
}
.block__three {
	height: auto;
	text-align: -moz-right;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: #e1e1e1;
	padding: 1rem;
}
.map {
	position: relative;
	margin: auto;
	border: 7px solid white;
	border-radius: 7px;
}
.contact__box {
    text-align: left;
    padding: 2rem;
    width: 310px;
    background-color: white;
    border-radius: 8px;
    margin: auto;
    -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}
.footer {
	text-align: right;
	padding: 1rem;
	width: 100%;
}
.footer>p:nth-child(1) {
	font-size: 11px;
}
.main_image {
 padding: 2rem;
 margin: auto;
}
.main_image > img:nth-child(1) {
 width: 300px;
 -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
 -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
 box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}

.tilt-in-fwd-tr {
	-webkit-animation: tilt-in-fwd-tr 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: tilt-in-fwd-tr 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@-webkit-keyframes tilt-in-fwd-tr {
  0% {
    -webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
            transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
            transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-fwd-tr {
  0% {
    -webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
            transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
            transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}

@media (max-width: 981px) {
	.contact__button {
		display: none;
	}
	.logo {
		width: 90%;
		margin: auto;
	}
	.contact__box {
		margin-bottom: 30px;
	}
	.map>iframe:nth-child(1) {
		width: auto;
	}
	div.item:nth-child(4)>h2:nth-child(1) {
		line-height: 34px;
	}
	.main_image {
		display: none;
	}
	.main_copy {
		padding: 2.5rem;
		width: 100%;
		margin: auto;
}
}

